# Python
backend/venv/
__pycache__/
backend/*.pyc

# Database locale
backend/smartlearn.db

# Uploads locaux
backend/uploads/

# Node
frontend/node_modules/
frontend/dist/

# Env
.env
backend/.env
frontend/.env