fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-multipart
passlib[bcrypt]
# passlib 1.7.4 est incompatible avec bcrypt >= 4.1
bcrypt<4.1
python-jose[cryptography]
PyMuPDF
python-dotenv
openai
httpx